@charset "UTF-8";
/************************Main settings****************************/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

body {
  background-color: black;
  overflow: auto;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 2rem;
}

.main-container {
  width: 100%;
}

.logo {
  width: 100px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 9999;
  padding: 10px 30px;
  width: 100%;
}
.faIcon {
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 20px;
}
.faIcon:hover {
  transform: scale(1.2) rotate(360deg);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.icon {
  color: lightcoral;
}

.perspective {
  background: #aaa;
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  background: #000;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
}

.container.transform {
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
  transform: translateZ(0) translateX(0) rotateY(0deg);
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  /* the transition delay of the height needs to be synced with the container transition time */
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
  position: relative;
}

.component {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.modalview .container {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  cursor: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.closed .modalview .container {
  overflow: scroll;
  cursor: default;
}

.modalview .wrapper {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
  position: absolute;
  height: auto;
  font-size: 2em;
}

.outer-nav.vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav.horizontal {
  left: 50%;
  width: 75%;
  max-width: 1000px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outer-nav.left {
  left: 25%;
}

.outer-nav.right {
  right: 25%;
}

.outer-nav.top {
  top: 25%;
}

.outer-nav.bottom {
  bottom: 25%;
}

.outer-nav a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav a:hover {
  color: #ffdccd;
}

.outer-nav.vertical a {
  display: block;
}

.outer-nav.horizontal a {
  margin: 15px 20px;
}

.outer-nav a::before {
  display: inline-block;
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-home::before {
  content: '\e600';
}
.icon-project::before {
  content: '\e601';
}
.icon-aboutMe::before {
  content: '\e602';
}
.icon-contactMe::before {
  content: '\e603';
}

/* Effect Rotate Top */
.effect-rotatetop {
  background: black;
}

.effect-rotatetop .container {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-rotatetop .container::after {
  background: rgba(37, 35, 34, 0.6);
  border: 3px solid #444;
}

.effect-rotatetop.animate .container {
  -webkit-transform: translateZ(-1500px) translateY(-50%) rotateX(-45deg);
  transform: translateZ(-1500px) translateY(-50%) rotateX(-45deg);
}

.no-csstransforms3d .effect-rotatetop.animate .container {
  top: -75%;
}

.effect-rotatetop .outer-nav a {
  opacity: 0;
  color: var(--details-color);
  -webkit-transform: translateY(200px) translateZ(-1000px);
  transform: translateY(200px) translateZ(-1000px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.effect-rotatetop .outer-nav a:hover {
  color: #93020c;
}

.effect-rotatetop.animate .outer-nav a {
  opacity: 1;
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0%) translateZ(0);
}

.effect-rotatetop.animate .outer-nav a:nth-child(2) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

.effect-rotatetop.animate .outer-nav a:nth-child(3) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

.effect-rotatetop.animate .outer-nav a:nth-child(4) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.effect-rotatetop.animate .outer-nav a:nth-child(5) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.effect-rotatetop.animate .outer-nav a:nth-child(6) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.effect-rotatetop.animate .outer-nav a:nth-child(7) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.footer {
  color: var(--main-color);
  padding: 50px 0;
  background-color: #000;
  margin-top: 300px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-section h2 {
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-section p,
.footer-section span,
.footer-section a {
  color: var(--main-color);
  display: block;
  margin-bottom: 10px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.socials a {
  color: var(--main-color);
  font-size: 1.5rem;
  margin-right: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  color: var(--main-color);
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
  color: var(--main-color);
}

span.redirect {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
