:root {
  --main-color: #ffffff;
  --text-color: #000000;
  --details-color: #f08080;
  --project-color-bg: #ffffff;
  --project-color-txt: #000000;
}

[data-theme='dark'] {
  --main-color: #ffffff;
  --text-color: #000000;
  --details-color: #f08080;
  --project-color-bg: #000000;
  --project-color-txt: #b0c4de;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 107%;
  background-color: rgba(0, 0, 0, 0.5);
}

.start {
  background-image: url('https://assets-global.website-files.com/64da3cdd1d11a292e297fca8/662a9cc4e8554a6fb7e4855e_Energy%20wave%20-MOD-p-2000.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.center {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 8rem;
  z-index: 9998;
}

.center p {
  font-family: 'Ubuntu Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  z-index: 9998;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.project {
  position: relative;
  width: 100%;
  max-width: 55rem;
  color: var(--project-color-txt);
  background-color: var(--project-color-bg);
  padding: 30px;
  border-radius: 10px;
  margin: 100px 0;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: justify;
  min-height: 797px;
  box-shadow: 0 0 170px 0 rgba(255, 255, 255, 0.35);
}

.project:hover .project__backdrop {
  opacity: 0.7;
}

.project__backdrop {
  position: absolute;
  background-color: var(--text-color);
  opacity: 0;
  transition-duration: 0.3s;
  inset: 0;
  z-index: 50;
}

.projet__link {
  position: absolute;
  transition-duration: 0.3s;
  inset: 0;
  z-index: 100;
}

@keyframes view__hover {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes view__unhover {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.project:hover .view {
  animation: view__hover 400ms ease-in-out forwards;
}

.project:not(:hover) .view {
  animation: view__unhover 400ms ease-in-out forwards;
}

.view {
  position: absolute;
  top: 42%;
  left: 44%;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
  font-size: 1.5rem;
  color: var(--main-color);
  background-color: #93020c;
  padding: 30px;
  border-radius: 50%;
  opacity: 0;
}

.right-project {
  align-self: flex-end;
}

.project h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.description {
  font-family: 'Ubuntu Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1rem;
  padding-bottom: 30px;
  margin-left: 10px;
}

.homepage {
  border: 1px solid var(--details-color);
  border-radius: 10px;
  width: 820px;
  height: 397px;
  object-fit: cover;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 10px;
}

.tag {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 1rem;
  border: 1px solid var(--details-color);
  border-radius: 7px;
  padding: 5px;
}

.project:hover .view_project p,
.project:hover .view_project .chevron-right {
  animation: view__unhover 400ms ease-in-out forwards;
}

.project:not(:hover) .view_project p,
.project:not(:hover) .view_project .chevron-right {
  animation: view__hover 400ms ease-in-out forwards;
}

.view_project {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.view_project p {
  font-family: 'Ubuntu Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  opacity: 1;
}

.chevron-right {
  color: var(--details-color);
  opacity: 1;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__title {
  color: var(--main-color);
  font-size: 3.5rem;
  padding-bottom: 30px;
}

.aboutMe__div {
  border: 2px solid var(--details-color);
  border-radius: 8px;
  width: 50%;
  overflow: hidden;
  padding: 60px;
  min-height: 313px;
}

.aboutMe__text {
  font-family: 'Ubuntu Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--main-color);
  text-align: justify;
}

.aboutMe__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bullets li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  cursor: pointer;
}

.bullets li.active {
  background-color: #ccc;
}

.chevron {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.chevron:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.chevron__right {
  position: absolute;
  right: 80px;
  top: 40%;
}

.chevron__left {
  position: absolute;
  left: 80px;
  top: 40%;
}

.effects {
  top: 0;
  left: 0;
  width: 700px;
  height: 200px;
  border-radius: 50px;
}

.effect1 {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 50%,
    rgba(208, 222, 33, 1) 100%
  );
  filter: blur(350px);
  transform: rotate(35deg);
  animation: moveEffectDown 10s infinite linear;
}

.effect2 {
  background: linear-gradient(
    90deg,
    rgba(176, 1, 1, 1) 0%,
    rgba(121, 9, 118, 1) 56%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: blur(200px);
  transform: rotate(90deg);
  animation: moveEffectUp 10s infinite linear;
}

.effect2.reverse {
  animation: moveEffectUp-reverse 10s infinite linear;
}

.effect3 {
  background: linear-gradient(
    135deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(0, 255, 127, 1) 50%,
    rgba(255, 69, 0, 1) 100%
  );
  filter: blur(230px);
  transform: rotate(73deg);
  animation: pulseEffect 2s infinite ease-in-out;
}

.effect4 {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 165, 0, 1) 33%,
    rgba(255, 255, 0, 1) 66%,
    rgba(0, 128, 0, 1) 100%
  );
  filter: blur(350px);
  transform: rotate(142deg);
  animation: rotateEffect 4s infinite linear;
}

.effect5 {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(75, 0, 130, 1) 50%,
    rgba(238, 130, 238, 1) 100%
  );
  filter: blur(200px);
  transform: rotate(213deg);
}

.effect6 {
  background: linear-gradient(
    135deg,
    rgba(255, 20, 147, 1) 0%,
    rgba(0, 191, 255, 1) 50%,
    rgba(50, 205, 50, 1) 100%
  );
  filter: blur(250px);
  transform: rotate(97deg);
  animation: blinkEffect 5s infinite linear;
}

.effect7 {
  background: linear-gradient(
    70deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(169, 169, 169, 1) 100%
  );
  filter: blur(190px);
  transform: rotate(164deg);
}

.effect8 {
  background: linear-gradient(
    90deg,
    rgba(0, 128, 128, 1) 0%,
    rgba(32, 178, 170, 1) 50%,
    rgba(0, 255, 127, 1) 100%
  );
  filter: blur(250px);
  transform: rotate(58deg);
  animation: diagonalMovement 4s infinite ease-in-out;
}

@keyframes moveEffectDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50vw);
  }
}

@keyframes moveEffectUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vw);
  }
}

@keyframes moveEffectUp-reverse {
  0% {
    transform: translateY(-100vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulseEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinkEffect {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes diagonalMovement {
  0%,
  100% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
  75% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* .perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.effect-rotatetop {
  background: #edcdbb;
}
.perspective {
  background: #aaa;
  position: relative;
} 

.effect-rotatetop .container {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.container {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  transform: translateZ(0) translateX(0) rotateY(0deg);
}

*/
